/* Base Colors */

$primary-color: #114358;
$primary-light-color: #5dbee4;
$complement-color: #F2AA1F;
$secondary-color: #F1ECE2;
$black:#090909;
$white:#fff;

/* Navbar Config */

$navbar-height: 4em;

/* Responsive 16px Font Size*/

$text-size: clamp(16px,2.5vw,18px);

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

button{
    cursor:pointer;
}