.container{
    height:100%;
    width:100%;
    background-color: #ECF0F1;
    background-image: url("data:image/svg+xml,%3Csvg width='84' height='48' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%23ffffff' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    padding:20px;

    &>*{
        margin:0 5px;
    }

    & .container-logo{
        display:flex;
        width:400px;
        justify-content:center;
        align-items:flex-start;
        flex-direction: column;

        & h1{
            font-size:clamp(55px, 2.5vw, 75px)
        }

        & h2{
            font-size: clamp(20px,2.5vw,44px);
        }
    }

    & .form-login,.form-register{
        width:400px;
        display:flex;
        justify-content:center;
        align-items:center;
        flex-direction: column;
        background-color: #fff;
        box-shadow: 0 3px 5px rgba(0,0,0,.1);
        border-radius: 8px;
        padding:40px 0;

        & #form_group{
            display:flex;
            & > div{
                width:100%;
                margin:0 10px 0 0;
            }

            & > div:last-child{
                margin:0;
            }
        }

        & .form-group{
            text-align: center;
            & .form-control{
                font-size:clamp(14px,2.5vw,18px);
                box-shadow: 0 3px 5px rgba(0,0,0,.1);
            }
        }
    }

    .form-register{
        flex-grow:.5;
    }
}

@media screen and (max-width:768px){
    #form_group{
        display:block !important;

        & > div{
            margin:10px 0 0 0!important;
        }

        & > div:first-child{
            margin:0 0 10px 0 !important;
        }

    }

}

.validation-message{
    font-size: clamp(14px,2.5vw,18px);
    color:rgb(212, 0, 0);
}