.container {
  width: 80%;
  height: 80%;
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  background: #ffffff;
}

.container-left {
  float: left;
  width: 40%;
  height: 100%;
  background: #ffffff;
  
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-right {
  float: right;
  width: 60%;
  height: 100%;
  background-image: url("https://images.ctfassets.net/hrltx12pl8hq/4plHDVeTkWuFMihxQnzBSb/aea2f06d675c3d710d095306e377382f/shutterstock_554314555_copy.jpg");
  background-attachment: fixed;
  background-size: cover;
}

@media only screen and (max-width: 600px) {
  .container-right {
    display: none;
  }
  .container-left {
    width: 100%;
  }
}