@import 'base';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: $text-size;
}

.main-container {
  width: 100vw;
  height: 100vh;

  display: flex; 
  justify-content: space-around; 
  align-items: center; 
  background-color: #330000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23D18'/%3E%3Cstop offset='1' stop-color='%23330000'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23FA3' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23FA3' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.shadow {
  box-shadow: 0 10px 15px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.18);
}

form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  flex-direction: column;
}

form h1 {
  margin: 5px;
}

input {
  display: block;
  padding: 10px;
  background: rgba(0, 0, 0, .05);
  border: none;
  outline: none;
}

.elements { 
  position: relative; 
  margin-bottom: 10px; 
}

.bar 	{ 
  position: relative;  
  display: block; 
  width: 100%; 
  &:before, &:after {
    content: '';
    height: 2px; 
    width: 0;
    bottom: 1px; 
    position: absolute;
    background: $primary-color; 
    transition: 0.2s ease all; 
    -moz-transition: 0.2s ease all; 
    -webkit-transition: 0.2s ease all;
  }
  &:before {
    left: 50%;
  }
  &:after {
    right: 50%; 
  }
}

input:focus {
  ~ .bar:before {
    width: 50%;
  }
  ~ .bar:after {
    width: 50%;
  }
}

.form-btn {
  color: white;
  
  background: $primary-color;
  display: block;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 5px;
  
  cursor: pointer;
  &:hover {
    background: $primary-light-color;
  }
}