@import 'base';

.nav-bar  {
  width: 100%;
  height: $navbar-height;
  top: 0;
  background-color: $primary-color;
}

.nav-bar ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  flex-direction: row;
  height:100%;
}

.nav-left,.nav-right{
  display:flex;
  align-items: center;
  height:100%;
  margin:0 10px;
}

.nav-link {
  padding: 0px 20px;
  cursor: pointer;
  text-align: center;
  margin: 0 10px 0 0;
  font-size:clamp(13px,2.5vw,18px);
  text-decoration: none;
  color: #fff;
  font-weight: bold;

  & i{
    margin: 0 10px 0 0;
  }

  &::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: $complement-color;
    transition: width .2s;
  }
  
  &:hover::after {
    width: 100%;
  }
}
