@import 'base';

.nav-bar  {
  width: 100%;
  height: $navbar-height;
  top: 0;
  background-color: rgba(0, 0, 0, .125);
}

.nav-bar ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  flex-direction: row;
}

.nav-left,.nav-right{
  display:flex;
}

.nav-link {
  padding: 20px;
  cursor: pointer;
  text-align: center;

  text-decoration: none;
  color: #000000;
  font-weight: bold;

  &::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: $primary-light-color;
    transition: width .3s;
  }
  
  &:hover::after {
    width: 100%;
  }
}
